/* Footer design */

.footer {
  background-color: $footer-black;
  padding: 20px 0 10px 0;
}

.footer a {
  color: white;
  font-size: lighter;
}

.footer-navigation-black {
  font-size: 18px;
}

.company-name {
  color: $gray-light;
  font-size: 14px;
}

.social-link-black {
  font-size: 14px;
}
