<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3"></label>
    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Where ?">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Check-in</label>
    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Check-in">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword3">Check-out</label>
    <input type="text" class="form-control" id="exampleInputPassword3" placeholder="Check-out">
  </div>
  <select class="form-control">
    <option value="1">1 guest</option>
    <option value="2">2 guests</option>
    <option value="3">3 guests</option>
  </select>
  <button type="submit" class="btn btn-danger">Search</button>
</form>
