<!-- Your footer code -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline footer-navigation-black">
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-9">
        <p class="company-name">Company Name © 2015</p>
      </div>
      <div class="col-xs-3">
        <ul class="list-inline social-link-black text-right">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
